


<div class="row">
  <% @movies.each do |movie| %>
      <div class="col-md-12">
        <div class="thumbnail">
          <%= link_to (image_tag movie.poster_url(:thumb).to_s, class: 'poster'), movie %>
        </div>
      </div>
  <% end %>
</div>



<%= link_to 'New Movie', new_movie_path %>
